/* BODY */
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #dee2e6;
}

/* MODAL FOR ASKING MOVIE */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 10% auto;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid black;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.bottomButtons {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 20px;
    width: 250px;
}


/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: left;
    border-bottom: 3px solid lightgray;
    font-size: 42px;
    padding: 20px;
    font-weight: 900;
    background-color: white;
}

.header > span {
    font-size: 42px;
    font-variation-settings: 
    'FILL' 1;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
input {
    width: 210px;
    padding: 0;
}

.close {
 width: 210px;
 padding: 0;
}

.close, .submit {
    height: 40px;
}

/* ADD BUTTON */
.addButton {
    width: 150px;
    height: 200px;
    padding: 0;
    border-radius: 5px;
    border: 3px solid gray;
    border-style: dashed;
    transition: 0.3s;
    font-size: 36px;
}

.addButton:hover {
    width: 150px;
    height: 200px;
    padding: 0;
    border-radius: 5px;
    border: 3px solid gray;
    background-color: lightgray;
    border-style: dashed;
    font-size: 36px;
}

/* MOVIE CARD */

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.newContainer {
    width: 144px;
    height: 194px;
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
