/* THEME TOGGLE STUFF */

:root.light {
    --header-colour: white;
    --body-colour: #dee2e6;
    --font-colour: black;
    --border-one: #ced4da;
    --border-two: #6c757d;

}

:root.dark {
    --header-colour: black;
    --body-colour: #343a40;
    --font-colour: #f8f9fa;
    --border-one: #dee2e6;
    --border-two: #ced4da;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-colour);
    transition: 0.3s;
}

/* MODAL FOR ASKING MOVIE */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 10% auto;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid black;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.bottomButtons {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 20px;
    width: 250px;
}


/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: left;
    border-bottom: 3px solid var(--border-two);
    font-size: 36px;
    padding: 20px;
    font-weight: 900;
    background-color: var(--header-colour);
    color: var(--font-colour);
    transition: 0.5s;
}

.film-icon {
    font-variation-settings: 
    'FILL' 1;
}

.theme {
    position: absolute;
    right: 2%;
    font-variation-settings: 
    'FILL' 0;
    font-size: 36px;
    transition: 0.3s;
}

.theme:hover {
    cursor: pointer;
    font-variation-settings: 
    'FILL' 1;
    font-size: 36px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
input {
    width: 210px;
    padding: 0;
}

.close {
 width: 210px;
 padding: 0;
}

.close, .submit {
    height: 40px;
}

/* ADD BUTTON */
.addButton {
    width: 150px;
    height: 200px;
    padding: 0;
    border-radius: 5px;
    border: 3px solid var(--border-one);
    border-style: dashed;
    transition: 0.3s;
    font-size: 36px;
}

.addButton:hover {
    width: 150px;
    height: 200px;
    padding: 0;
    border-radius: 5px;
    border: 3px solid var(--border-two);
    background-color: lightgray;
    border-style: dashed;
    font-size: 36px;
}

/* MOVIE CARD */

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.newContainer {
    width: 144px;
    height: 194px;
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
